<div class="container">

  <h1 class="display-1 text-center my-4">
    Todo List
  </h1>

  <app-todo-input
    (todoSubmit)="todoSubmitHandler($event)"
  />

  <app-todo-select
    [(selectValue)]="todoFilterValue"
  />

  <app-loading-message
    *ngIf="errorData.isLoadingError"
    [statusCode]="errorData.errorStatusCode"
    [statusText]="errorData.errorStatusText"
    [errorMessage]="errorData.errorMessage"
  />

  <app-loading-spinner
    *ngIf="isLoading"
  />

  <p
    class="lead text-center"
    *ngIf="filteredTodos.length === 0 && !isLoading && !errorData.isLoadingError"
  >
    No todos to display
  </p>

  <app-todo-list
    *ngIf="filteredTodos.length > 0 && !isLoading && !errorData.isLoadingError"
  >
    <app-todo-list-item
      *ngFor="let todo of filteredTodos"
      [todoId]="todo.id"
      [todoText]="todo.text"
      [todoIsComplete]="todo.isComplete"
      (updateTodo)="todoUpdateHandler($event)"
      (deleteTodo)="todoDeleteHandler($event)"
    />
  </app-todo-list>

</div>