<div class="container">

  <h1 class="display-1 text-center my-4">
    Todo List
  </h1>

  <app-todo-input
    (submitTodo)="todoCreateHandler($event)"
  />

  <app-todo-select
    [(selectValue)]="filterValue"
  />

  <app-loading-message
    *ngIf="errorState.isLoadingError"
    [statusCode]="errorState.errorStatusCode"
    [statusText]="errorState.errorStatusText"
    [errorMessage]="errorState.errorMessage"
  />

  <app-loading-spinner
    *ngIf="isLoadingTodos"
  />

  <p
    class="lead text-center"
    *ngIf="filteredTodos.length === 0 && noLoadingError"
  >
    No todos to display
  </p>

  <app-todo-list
    *ngIf="filteredTodos.length > 0 && noLoadingError"
  >
    <app-todo-list-item
      *ngFor="let todo of filteredTodos"
      [todoId]="todo.id"
      [todoText]="todo.text"
      [todoPriority]="todo.priority"
      [todoIsComplete]="todo.isComplete"
      (updateTodo)="todoUpdateHandler($event)"
      (deleteTodo)="todoDeleteHandler($event)"
    />
  </app-todo-list>

</div>